services:
  graphvibes:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - jgnet

networks:
  jgnet:
    external: true
